:root{
    --green:#27ae60;
    --black:#192a56;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

.header__main{
    background-color: #ccc;
}

.header__menu{
    display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__menu .header__logo{

}

.header__menu .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 20px;
}
.header__menu .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 2s ease infinite;
}
.header__menu .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
.header__menu .hamburger .bar::after,
.header__menu .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: 0.3s ease;
	transition-property: top, bottom;
}
.header__menu .hamburger .bar::after {
	top: 8px;
}
.header__menu .hamburger .bar::before {
	bottom: 8px;
}
.header__menu .hamburger.active .bar::before {
	bottom: 0;
}
.header__menu .hamburger.active .bar::after {
	top: 0;
}


.header__menu .menu{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.menu__nav{
    background: rgba(0,0,0,.95);
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    overflow-x: hidden;
    position: absolute;
    transition: 0.5s ease left;
    z-index: 1;
}

.menu__nav.active{
    left: 20%;
}

.menu__nav .menu__label{
    color: #8b8b8b;
    font-size: 1.5rem;
    padding: 0.7rem 1rem;
}

.header__menu .menu__list {
    list-style: none;
    
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
        
    padding: 0;
    
}

/* .header__menu .menu__list.active {
    left: 20%;
} */

.menu__list .menu-item{
    background-color: rgba(255,255,255, 0.1);
    border-bottom: 1px solid #424242;
    display: block;
    margin: 0.2rem 0;
    padding: 1rem;
    position: relative;
}

.menu-item .sub-menu{
    max-height: 0;
    opacity: 0%;
    visibility: hidden;
    transition: all .5s;
    padding: 0;
}

.menu__list .menu-item a{
    line-height: 1;
    color: #fff;
    font-size: .95rem;
    letter-spacing: 1px;  
    text-decoration: none;
}

.menu__list .menu-item a.active::before{
    content: "";
    background-color: #f6572b;
    width: 5px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.menu__list .menu-item.menu-item-has-children > a::after{
    /*content: '\F284';
    font-weight: 900;
    font-family: "Roboto";
    margin-left: 0.5rem;
    display: inline-block;
    transform: rotate(90deg);
    transition: transform .3s;*/

    content: "\f284";/* <i class="bi bi-chevron-left"></i> */
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    margin-left: 0.5rem;
    vertical-align: -0.125em;
    -webkit-font-smoothing: antialiased;
    /*transform: rotate(270deg);*/
    transform: rotate(0);
    transition: transform .3s;    
}

.footer__main{
    background-color: #ccc;
}

/* Keyframes */
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
   
    /*header*/
    .header__menu .menu__list{
        position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
    }

    .header__menu .menu__list .menu-item{
        display: inline-block;
    }

    .header__menu .menu__list .menu-item a{
        font-size: 1rem;
    }

    .header__menu .menu__list .menu-item a:after {
		display: none;
	} 
}