:root{
    --green:#27ae60;
    --black:#192a56;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

.header__main{
    background-color: #ccc;
}

.header__menu{
    display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__menu .header__logo{
    
}

.header__menu .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 20px;
}
.header__menu .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 2s ease infinite;
}
.header__menu .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
.header__menu .hamburger .bar::after,
.header__menu .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: 0.3s ease;
	transition-property: top, bottom;
}
.header__menu .hamburger .bar::after {
	top: 8px;
}
.header__menu .hamburger .bar::before {
	bottom: 8px;
}

.header__menu .hamburger.active .bar{
    background-color: #222222;
}

.header__menu .hamburger.active .bar::before {
	bottom: 0;
    transform: rotate(45deg);
}
.header__menu .hamburger.active .bar::after {
	top: 0;
    transform: rotate(130deg);
}


.header__menu .menu{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.menu__nav{
    background: rgba(0,0,0,.95);
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    overflow-x: hidden;
    position: absolute;
    transition: 0.5s ease left;
    z-index: 1;
}

.menu__nav.active{
    left: 20%;
}

.menu__nav .menu__label{
    color: #8b8b8b;
    font-size: 1.5rem;
    padding: 0.7rem 1rem;
}

.header__menu .menu__list {
    list-style: none;    
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding: 0;    
}

/* .header__menu .menu__list.active {
    left: 20%;
} */

.menu__list > .menu-item{
    background-color: rgba(255,255,255, 0.1);
    border-bottom: 1px solid #424242;
    display: block;
    margin: 0.2rem 0;
    padding: 1rem;
    position: relative;
}

.menu__list .menu-item a{
    line-height: 1;
    color: #fff;
    font-size: .95rem;
    letter-spacing: 1px;  
    text-decoration: none;
}

 .menu__list .menu-item.menu-item-has-children a.active::before{
    content: "";
    background-color: #f6572b;
    width: .4rem;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
} 

.menu__list .menu-item.menu-item-has-children > a::after{
    content: "\f284";/* <i class="bi bi-chevron-left"></i> */
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    margin-left: 0.5rem;
    vertical-align: -0.125em;
    -webkit-font-smoothing: antialiased;
    /*transform: rotate(270deg);*/
    transform: rotate(0);
    transition: transform .3s;  
    z-index: 10;  
}

.menu__list .menu-item-has-children > .sub-menu{
    cursor: pointer;
    transform:translateX(.2rem);
    transform: translateY(1rem);
    z-index: 999;
}

.menu__list .menu-item-has-children > .sub-menu .arrow{
    top: 1rem;
    left: 1rem;
}

.menu__list .menu-item-has-children > a.arrow::after{
    transform: rotate(-90deg);
    transition: transform .3s;
}

.menu__list .menu-item-has-children a.show ~ .sub-menu{
    max-height: 100vh;
    /* margin-top: 1rem;     */
    opacity: 1;
    visibility: visible;
    transition: all .5s;
}

.menu-item .sub-menu{
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
    padding: 0;
}

.menu__list .menu-item .sub-menu .menu-item{
    background-color: #333;
    border-bottom: 1px solid #101010;
    display: block;
    /* margin: 0.1rem 0; */
    padding: .8rem;
    position: relative;
    /* opacity: 100%; */
}

.menu__list .menu-item .sub-menu .menu-item:nth-last-child(1){    
    margin-bottom: 1rem;
}

.footer__main{
    background-color: #ccc;
}

/* Keyframes */
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
   
    /*header*/

    .header__menu .header__logo{
        /* background-color: #192a56; */
        max-width: 10rem;
        margin: 0 1rem 0 0;
    }

    /* Menu Bar */
    .header__menu .hamburger {
        display: none;
    }

    .menu__nav{
        background: rgba(33, 0, 65, 0.95);
        width: 100%;
        height: auto;
        /* left: 0; */
        overflow-x: auto;
        position: inherit;
    }

    .menu__nav .menu__label {
        display: none;
    }

    .header__menu .menu__list{
        display: inline;
    }

    /* inline menu desktop*/
    .header__menu .menu__list > .menu-item{
        /*display: inline-block;*/
        display: inline-flex;
        width: fit-content;
        background-color: #666;
    }    

    /* .header__menu .menu__list .menu-item a{
        font-size: 1rem;
    } */

    /*select 1º level menu*/
    .menu__list > .menu-item {
        background-color: rgba(255,255,255, 0.1);
        border-bottom: 1px solid #424242;
        display: block;
        margin: 0.1rem 0;
        padding: .5rem;
        position: relative;
    }

    .header__menu .menu__list > .menu-item > a{
        background-color: #27ae60;
    }

    .header__menu .menu__list > .menu-item > a:hover{
        background-color: #ae7f27;
    }

    .menu__list > .menu-item > .sub-menu{
        background-color: #fff;
        /* position: absolute; */
        position: fixed;
        /* margin-top: 1.9rem; */
        /* transform: translateY(10rem); */
    }

    .menu__list .menu-item-has-children a.show ~ .sub-menu {       
        margin-top: 2rem;
    }

    /* Hover Menu Desktop */
    .menu__list .menu-item:hover{
        transition: .3s;
    }

    .menu__list .menu-item:hover > .sub-menu {
        transform: translate(0, 1.5rem);
        opacity: 1;
        visibility: inherit;
        pointer-events: auto;
        background-color: red;
    }

    .menu__list .menu-item.menu-item-has-children:hover > a::after {        
        transform: rotate(-90deg);        
    }

    .menu__list .sub-menu .menu-item-has-children > .sub-menu{        
        position: absolute;
        /* left: 9rem; */
        transform: translateX(8.5rem);
        top: 0;
        width: max-content;
    }

    .menu__list .sub-menu .menu-item-has-children > .sub-menu .menu-item{
        background: #192a56;
    }  

    /*.header__menu .menu__list .menu-item a:after {
		display: none;
	} */
}