@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';

:root{
    --green:#27ae60;
    --black:#192a56;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);

    --hamburger-color: rgb(43, 43, 43);
    --hamburger-bar-color: #e7e7e7;
    --header-bar-color: #f7f7f7);
    --menu-nav-color:  rgba(245,245,245,.95);
    --menu-label-color: #888;
    
    /* Menu Item Level 1*/
    --menu-bgl1-color: rgba(255,255,255, 0.1);
    --menu-bgl1-border: 1px solid #ccc;
    --menu-link1-color: #333;
    --menu-link-active: #f6572b;
    --menu-link-hover: #0d6efd; 

    /* Menu Item Level 2*/
    --menu-bgl2-color: #f4f4f4;
    --menu-bgl2-border: 1px solid #ccc;
    --menu-bgl2-hover: #e2e2e2;

    /* Menu Item Level 3*/
    --menu-bgl3-color: #eee;
    --menu-bgl3-border: 1px solid #101010;
    --menu-bgl3-hover: #e2e2e2;

    /* Footer */
    --footer-bg-color: #ccc;
}

.fully__page{
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.fully__page main{
    min-height: 100vh;
}

.header__main{
    background-color: var(--header-bar-color);    
}

.header__menu{
    display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__menu .header__logo{
    
}

.header__menu .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	/* border: 3px solid white; */
    border: 3px solid var(--hamburger-color);
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 20px;
}
.header__menu .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid var(--hamburger-color);
	animation: hamburger_puls 2s ease infinite;
}
.header__menu .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: var(--hamburger-color);
	z-index: -1;
}
.header__menu .hamburger .bar::after,
.header__menu .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: var(--hamburger-color);
	transition: 0.3s ease;
	transition-property: top, bottom;
}
.header__menu .hamburger .bar::after {
	top: 8px;
}
.header__menu .hamburger .bar::before {
	bottom: 8px;
}

.header__menu .hamburger.active .bar{
    background-color: var(--hamburger-bar-color);
}

.header__menu .hamburger.active .bar::before {
	bottom: 0;
    transform: rotate(45deg);
}
.header__menu .hamburger.active .bar::after {
	top: 0;
    transform: rotate(130deg);
}


.header__menu .menu{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.menu__nav{
    background: var(--menu-nav-color);
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    overflow-x: hidden;
    /* position: absolute; */
    position: fixed;
    transition: 0.5s ease left;
    z-index: 2;
}

.menu__nav.active{
    left: 20%;
}

.menu__nav .menu__label{
    color: var(--menu-label-color);
    font-size: 1.5rem;
    padding: 0.7rem 1rem;
}

.header__menu .menu__list {
    list-style: none;    
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding: 0;    
}

/* .header__menu .menu__list.active {
    left: 20%;
} */

.menu__list > .menu-item{
    background-color: var(--menu-bgl1-color);
    border-bottom: var(--menu-bgl1-border);
    display: block;
    margin: 0.2rem 0;
    padding: 1rem;
    position: relative;
}

.menu__list .menu-item a{
    line-height: 1;
    color: var(--menu-link1-color);
    font-size: .95rem;
    letter-spacing: 1px;  
    text-decoration: none;
}

 .menu__list .menu-item.menu-item-has-children a.active::before{
    content: "";
    background-color: var(--menu-link-active);
    width: .4rem;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
} 

.menu__list .menu-item.menu-item-has-children > a::after{
    content: "\f284";/* <i class="bi bi-chevron-left"></i> */
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    margin-left: 0.5rem;
    vertical-align: -0.125em;
    -webkit-font-smoothing: antialiased;
    /*transform: rotate(270deg);*/
    transform: rotate(0);
    transition: transform .3s;  
    z-index: 10;  
}

.menu__list .menu-item-has-children > .sub-menu{
    cursor: pointer;
    transform:translateX(.2rem);
    transform: translateY(1rem);
    z-index: 999;
}

.menu__list .menu-item-has-children > .sub-menu .arrow{
    top: 1rem;
    left: 1rem;
}

.menu__list .menu-item-has-children > a.arrow::after{
    transform: rotate(-90deg);
    transition: transform .3s;
}

.menu__list .menu-item-has-children a.show ~ .sub-menu{
    max-height: 100vh;
    /* margin-top: 1rem;     */
    opacity: 1;
    visibility: visible;
    transition: all .5s;
}

.menu-item .sub-menu{
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
    padding: 0;
}

.menu__list .menu-item .sub-menu .menu-item{
    background-color: var(--menu-bgl2-color);
    border-bottom: var(--menu-bgl2-border);
    display: block;
    /* margin: 0.1rem 0; */
    padding: .8rem;
    position: relative;
    /* opacity: 100%; */
}

.menu__list .menu-item .sub-menu .menu-item:nth-last-child(1){    
    border-bottom: none;
    margin-bottom: 1rem;    
}

/* Global
------------------------------------------------------------*/
.wrapper__title h1{    
    font-family: 'Montserrat', sans-serif;
    width: fit-content;
    height: auto;
    margin: 0 auto;
    position: relative;
    
}

.wrapper__title h1:before{
    content: "";
    border: solid 2px #0d6efd;
    border-right: none;
    width: 18px;
    position: absolute;
    height: calc(100% + 14px);
    left: -10px;
    top: -7px;

}

.border__radius--2{
    border-radius: .2rem;
}

/* .wrapper__title-{
    background-color: aqua
} */

/* Slider
------------------------------------------------------------*/
.sec__slider{}
.slider__title{
    font-size: 1rem;
    padding: 0 1rem;
    text-shadow: 1px 1px 3px rgb(0 0 0 / 30%);
}

.slider__title--white{
    color: #fff ;
}

.slider__text{
    font-size: .8rem;
    padding: 1rem;
}

.slider__text--white{
    color: #fff;
}

/* Sec Hero
------------------------------------------------------------*/
.sec__hero{
    background-image: url(img/bg-1.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
    /* min-height: 500px; */
}

.hero__grid{
    display: grid;
    place-items: center;   
}

.hero__card{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: clamp(200px, 100%, 400px);
}

.hero__card--border{
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}


.hero__content{}
.hero__content--padding{
    padding: 2rem 0;
}


/* Sec About
------------------------------------------------------------*/
.sec__about{
    /* background: #666; */
    background: linear-gradient(to bottom right, rgb(207, 207, 207), rgb(250, 250, 250));
}


/* Sec Service
------------------------------------------------------------*/
.sec__service{

}

.service__header{}

.service__text{}

.service__text p{
    padding: 2rem 0;
    margin-bottom: 0;
}

.service__list{}

.service__unity{}

.service__card{
    background: #fff;
    border: .1rem solid rgba(0,0,0,.2);
    border-radius: .2rem;
    box-shadow: var(--box-shadow);
}

.service__img{
    border-radius: .2rem;
    transition: .3s;
}

.service__img:hover{
    /* -webkit-transform: scale(1.015);
    -moz-transform: scale(1.015);
    -ms-transform: scale(1.015);
    -o-transform: scale(1.015); */
    transform: scale(1.015);
    opacity: 0.8;
    transition: .3s;
}

.service__content{
    padding: .8rem;
}

.service__title{
    
}

.service__title h2{
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.service__title h2 a{
    color: #333;
    text-decoration: none;
    transition: all .2s;
}

.service__title h2 a:hover{
    color: #0d6efd;
    transition: all .3s;
}

/* Sec 
------------------------------------------------------------*/

/* Sec 
------------------------------------------------------------*/

/* Sec 
------------------------------------------------------------*/

/* Sec 
------------------------------------------------------------*/

/* Sec 
------------------------------------------------------------*/

.footer__main{
    background-color: var(--footer-bg-color);
}

/* Keyframes */
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
   
    /*header*/

    .header__main {
        background-color: var(--header-bar-color);
        box-shadow: var(--box-shadow);
    }

    .header__menu .header__logo{        
        max-width: 10rem;
        margin: 0 1rem 0 0;
    }

    /* Menu Bar */
    .header__menu .hamburger {
        display: none;
    }

    .menu__nav{
        --menu-nav-color: transparent;
        background: var(--menu-nav-color);
        width: 100%;
        height: auto;
        /* left: 0; */
        overflow-x: auto;
        position: inherit;
    }

    .menu__nav .menu__label {
        display: none;
    }

    .header__menu .menu__list{
        display: inline;
    }

    /* inline menu desktop*/
    .header__menu .menu__list > .menu-item{
        /*display: inline-block;*/
        display: inline-flex;
        width: fit-content;        
    }    

    /* .header__menu .menu__list .menu-item a{
        font-size: 1rem;
    } */

    /*select 1º level menu*/
    .menu__list > .menu-item {
        --menu-bgl1-color: transparent;
        --menu-bgl1-border: none;
        background-color: var(--menu-bgl1-color);
        border-bottom: var(--menu-bgl1-border);
        display: block;
        margin: 0.1rem 0;
        padding: .5rem;
        position: relative;
    }
    
    .header__menu .menu__list > .menu-item:hover{
        /* background-color: #2c2c2c; */
    }

    .header__menu .menu__list > .menu-item > a{
        /* background-color: #27ae60; */
    }

    .header__menu .menu__list > .menu-item > a:hover{
        color: var(--menu-link-hover);
        /* background-color: #ae7f27; */
    }

    .menu__list > .menu-item > .sub-menu{        
        position: fixed;        
    }

    .menu__list .menu-item-has-children a.show ~ .sub-menu {       
        margin-top: 2rem;
    }

    /* Hover Menu Desktop */
    .menu__list .menu-item:hover{
        transition: .3s;
    }

    .menu__list .menu-item:hover > .sub-menu {
        transform: translate(0, 1.5rem);
        opacity: 1;
        visibility: inherit;
        pointer-events: auto;
    }

    .menu__list .menu-item.menu-item-has-children:hover > a::after {        
        transform: rotate(-90deg);        
    }

    .menu__list .sub-menu .menu-item-has-children > .sub-menu{        
        position: absolute;
        /* left: 9rem; */
        transform: translateX(8.5rem);
        top: 0;
        width: max-content;
    }

    /*Menu Level 2 */
    .menu__list .menu-item-has-children .sub-menu .menu-item {
        background-color: var(--menu-bgl2-color);
        border-bottom: var(--menu-bgl2-border);
    }

    .menu__list .menu-item-has-children .sub-menu .menu-item:hover{
        background-color: var(--menu-bgl2-hover);
    }

    /* Menu Level 3*/
    .menu__list .sub-menu .menu-item-has-children > .sub-menu .menu-item{
        background-color: var(--menu-bgl3-color);
    }  

    .menu__list .sub-menu .menu-item-has-children > .sub-menu .menu-item:hover{
        background-color: var(--menu-bgl3-hover);
    }

    /* Slider
    -----------------------*/
    .slider__title{
        font-size: 2.2rem;        
    }       
    
    .slider__text{
        font-size: 1.2rem;       
    }

    /* Sec hero */
    .hero__content--padding{
        padding: 0 2rem;
    }

}